// Primary Colors
$primary-color-black: #13182c;
$primary-color-indigo: #2e66e5;
$primary-color-white: #fff;

// Secondary Colors
$secondary-color-slate: #5c667e;
$secondary-color-cloud: #bdc5d5;

// Background Colors
$background-color-graphite: #232940;
$background-color-lightgray: #f7f8f9;

// Supporting Colors
$supporting-color-green: #158463;
$supporting-color-red: #c94515;
