@font-face {
    font-family: "Inter-Regular";
    src: url("../../assets/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Inter-Bold";
    src: url("../../assets/fonts/Inter-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "EditorialNew-Regular";
    src: url("../../assets/fonts/PPEditorialNew-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "EditorialNew-Bold";
    src: url("../../assets//fonts/PPEditorialNew-Ultrabold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }