@font-face {
    font-family: "Inter-Regular";
    src: url("../../assets/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Inter-Bold";
    src: url("../../assets/fonts/Inter-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter-Black";
    src: url("../../assets/fonts/Inter-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "EditorialNew-Regular";
    src: url("../../assets/fonts/PPEditorialNew-Regular.otf") format("opentype");
    font-style: normal;
  }

  @font-face {
    font-family: "EditorialNew-Light";
    src: url("../../assets/fonts/PPEditorialNew-Ultralight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "EditorialNew-Light-Italic";
    src: url("../../assets/fonts/PPEditorialNew-UltralightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "EditorialNew-Bold";
    src: url("../../assets//fonts/PPEditorialNew-Ultrabold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }