// ---- input mixin -----
@mixin form-input-styles {
    color: $primary-color-black;
    border-radius: 2rem;
    border: 1px solid $secondary-color-cloud;
    letter-spacing: 0.04rem;
    font-family: inherit;
    padding: 0 1.6rem;
    width: 100%;
    height: 3.6rem;
  
    &::placeholder {
      color: $secondary-color-slate;
    }
  
    &:focus {
      outline: 1px solid $primary-color-indigo;
      border: none;
    }
  
    @include tablet {
      width: 28.7rem;
      height: 3.8rem;
    }
  
    @include desktop {
      width: 42.9rem;
    }
  }
  
  @mixin form-select-dropdown {
    appearance: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95%;
  }
  