// break points
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// typeface
$primary-typeface-regular: "EditorialNew-Regular";
$primary-typeface-bold: "EditorialNew-Bold";
$secondary-typeface-regular: "Inter-Regular";
$secondary-typeface-bold: "Inter-Bold";
