@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/button" as *;
@use "../../styles/partials/input" as *;
@use "../../styles/partials/typography.scss" as *;

.home {

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.2rem 1.6rem;
        border-bottom: .1rem solid $primary-color-black;

        @include tablet {
            padding: 6.4rem 4.8rem;
        }
    }

    &__hero-header{
        text-align: center;
    }

    &__creative-card {
        background-color: $primary-color-black;
        opacity: .2;
        height: 1.6rem;
        width: .8rem;
    }
}